.skills {
  padding: 10px 10px 40px 10px;
  &__container {
    display: grid;
    grid-template-areas:
      "a1 a1 a2 a3"
      "a4 a5 a5 a6"
      "a7 a8 a9 a6";
    grid-auto-rows: calc(33.33vh - 13.333333px);
    gap: 10px;
    padding-bottom: 20px;
    &__actions {
      display: flex;
      justify-content: center;
    }
  }
}
.skill-item {
  background-color: #2d3651;
  position: relative;
  overflow: hidden;
  &__image {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: transform 0.5s;
  }
  &__title {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    z-index: 2;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    transition: color 0.5s;
  }
  &__overlay {
    position: absolute;
    background-color: #2d3651;
    opacity: 0.8;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: opacity 0.5s;
  }

  &:hover {
    .skill-item__overlay {
      opacity: 0.95 !important;
    }
  }
  &:hover {
    .skill-item__image {
      transform: scale(1.1);
    }
  }
  &:hover {
    .skill-item__link {
      color: #d66926;
    }
  }
}
$list: a1, a2, a3, a4, a5, a6, a7, a8, a9;
.skill-item {
  @for $i from 1 through length($list) {
    &:nth-child(#{$i}) {
      grid-area: nth($list, $i);
    }
  }
}
